@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kaushan-script-v14-latin-regular.eot");
  src: local(""),
    url("../fonts/kaushan-script-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/kaushan-script-v14-latin-regular.woff") format("woff"),
    url("../fonts/kaushan-script-v14-latin-regular.ttf") format("truetype"),
    url("../fonts/kaushan-script-v14-latin-regular.svg") format("svg");
}

:root {
  --main-white: #fdfffa;
  --main-red: #e01b2c;
  --main-black: #040404;

  --fade-grey: #d9d9d9e7;
  --fade-red: #e01b2b59;

  --nav-btn-width: clamp(8rem, 8vw, 10rem);
  --nav-btn-height: clamp(3rem, 4vw, 3.8rem);
  --nav-btn-font-size: clamp(1.5rem, 1.8vw, 2rem);
  --nav-bar-title-font-size: clamp(3rem, 5vw, 6rem);

  --nav-menu-btn-font-size: clamp(1.8rem, 1.8vw, 2rem);
  --nav-menu-title-font-size: clamp(3.5rem, 5vw, 4rem);
}

*,
::before,
::after {
  margin: none;
  padding: none;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
svg {
  pointer-events: none;
}

.frame {
  padding: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.holder {
  display: flex;
  align-items: center;
}
.line-break {
  height: 0.3rem;
  background: var(--main-red);
}

nav {
  width: 100%;
  height: 10rem;
  position: fixed;
  background: var(--main-white);
}
nav > .frame {
  justify-content: space-between;
}
.holder.nav-btns {
  width: max(25vw, 25rem);
  justify-content: space-between;
}
.holder.nav-btns > button {
  width: var(--nav-btn-width);
  height: var(--nav-btn-height);
  background: var(--main-white);
  border-radius: 2rem;
  font-family: "Kaushan Script", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: var(--nav-btn-font-size);
}
.holder.nav-btns > .nav-menu-btn {
  display: none;
}
.holder.nav-btns > button:hover,
.holder.nav-btns > button:focus,
.holder.nav-btns > button:active {
  background: var(--main-red);
  color: var(--main-white);
  cursor: pointer;
}
.holder.nav-bar-title {
  width: max(48vw, 20rem);
  justify-content: center;
  position: relative;
  right: clamp(0rem, 2vw, 2rem);
}
.holder.nav-bar-title > .title {
  font-family: "Kaushan Script", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: var(--nav-bar-title-font-size);
}
.holder.link-btns {
  width: max(20vw, 25rem);
  justify-content: space-evenly;
  position: relative;
  left: clamp(0rem, 2vw, 3vw);
}
.holder.link-btns > .github-btn {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-white);
  border-radius: 5rem;
}
.holder.link-btns > .github-btn:hover,
.holder.link-btns > .github-btn:focus,
.holder.link-btns > .github-btn:active {
  background: var(--main-red);
  fill: var(--main-white);
  cursor: pointer;
}
.holder.link-btns > .order-btn {
  width: var(--nav-btn-width);
  height: var(--nav-btn-height);
  background: var(--main-red);
  border-radius: 2rem;
  color: var(--main-white);
  font-family: "Kaushan Script", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: var(--nav-btn-font-size);
}
.holder.link-btns > .order-btn:hover,
.holder.link-btns > .order-btn:focus,
.holder.link-btns > .order-btn:active {
  background: var(--main-white);
  border: 0.1rem solid var(--main-red);
  color: var(--main-red);
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .holder.nav-btns {
    width: 4rem;
  }
  .holder.nav-btns > .nav-menu-btn {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-white);
  }
  .nav-menu-btn:hover,
  .nav-menu-btn:hover > svg,
  .nav-menu-btn:focus,
  .nav-menu-btn:focus > svg,
  .nav-menu-btn:active,
  .nav-menu-btn:active > svg {
    background: var(--main-red);
    border-radius: 2rem;
    fill: var(--main-white);
    cursor: pointer;
  }
  .holder.nav-btns > .home-btn,
  .holder.nav-btns > .menu-btn,
  .holder.nav-btns > .loca-btn {
    display: none;
  }
  .holder.nav-bar-title {
    width: 100%;
    position: static;
  }
  .holder.link-btns {
    display: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(100vw, 0);
  background: var(--fade-grey);
  z-index: 1;
}
.nav-menu {
  padding: 1rem;
  width: min(80%, 32rem);
  height: 100%;
  position: fixed;
  right: 0;
  transform: translate(100vw, 0);
  background: var(--main-white);
  z-index: 1;
}
.show-nav-menu {
  transform: translate(0vw, 0);
}
.anim {
  transition: transform 750ms ease-in-out;
}
.nav-menu > .close-menu-btn {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 1.2rem;
  left: -5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-white);
  border-radius: 2rem;
}
.nav-menu > .close-menu-btn:hover,
.nav-menu > .close--menu-btn:focus,
.nav-menu > .close--menu-btn:active {
  background: var(--main-red);
  fill: var(--main-white);
  cursor: pointer;
}
.holder.nav-menu-title {
  width: 100%;
  height: 10rem;
  justify-content: center;
}
.holder.nav-menu-title > .title {
  font-family: "Kaushan Script", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: var(--nav-menu-title-font-size);
}
.holder.nav-menu-btns,
.holder.link-menu-btns {
  flex-flow: column wrap;
}
.holder.nav-menu-btns > button {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background: var(--main-white);
  font-family: "Kaushan Script", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: var(--nav-menu-btn-font-size);
}
.holder.nav-menu-btns > button:hover,
.holder.nav-menu-btns > button:focus,
.holder.nav-menu-btns > button:active {
  background: var(--main-red);
  color: var(--main-white);
  fill: var(--main-white);
  cursor: pointer;
}
.holder.nav-menu-btns > .home-btn > svg,
.holder.nav-menu-btns > .home-btn > span,
.holder.nav-menu-btns > .menu-btn > svg,
.holder.nav-menu-btns > .menu-btn > span,
.holder.nav-menu-btns > .loca-btn > svg,
.holder.nav-menu-btns > .loca-btn > span {
  margin-left: 2rem;
}

.holder.link-menu-btns > .github-btn {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background: var(--main-white);
  color: var(--main-black);
  text-decoration: none;
  font-family: "Kaushan Script", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: var(--nav-menu-btn-font-size);
}
.holder.link-menu-btns > .order-btn {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background: var(--main-white);
  color: var(--main-red);
  fill: var(--main-red);
  font-family: "Kaushan Script", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: var(--nav-menu-btn-font-size);
}
.holder.link-menu-btns > .github-btn:hover,
.holder.link-menu-btns > .github-btn:focus,
.holder.link-menu-btns > .github-btn:active {
  background: var(--main-red);
  color: var(--main-white);
  fill: var(--main-white);
  cursor: pointer;
}
.holder.link-menu-btns > .order-btn:hover,
.holder.link-menu-btns > .order-btn:focus,
.holder.link-menu-btns > .order-btn:active {
  background: var(--main-red);
  color: var(--main-white);
  fill: var(--main-white);
  cursor: pointer;
}
.holder.link-menu-btns > .github-btn > svg,
.holder.link-menu-btns > .github-btn > span {
  margin-left: 3.5rem;
}
.holder.link-menu-btns > .order-btn > svg,
.holder.link-menu-btns > .order-btn > span {
  margin-left: 2.8rem;
}

footer {
  width: 100%;
  height: 10rem;
  background: var(--main-white);
}
footer > .frame {
  justify-content: center;
}
.holder.footer-text {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: clamp(1.2rem, 1.8vw, 1.5rem);
}
