@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kaushan-script-v14-latin-regular.eot");
  src: local(""),
    url("../fonts/kaushan-script-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/kaushan-script-v14-latin-regular.woff") format("woff"),
    url("../fonts/kaushan-script-v14-latin-regular.ttf") format("truetype"),
    url("../fonts/kaushan-script-v14-latin-regular.svg") format("svg");
}

:root {
  --main-white: #fdfffa;
  --main-red: #e01b2c;
  --main-black: #040404;
  --main-grey: #d9d9d979;

  --nav-btn-width: clamp(8rem, 8vw, 10rem);
  --nav-btn-height: clamp(3rem, 4vw, 3.8rem);
  --nav-btn-font-size: clamp(1.5rem, 1.8vw, 2rem);
  --cmpny-title-font-size: clamp(3rem, 5vw, 6rem);
}

*,
::before,
::after {
  margin: none;
  padding: none;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.frame {
  padding: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.holder {
  display: flex;
  align-items: center;
}

nav {
  width: 100%;
  height: 10rem;
  position: fixed;
}
nav > .frame {
  justify-content: space-between;
}
.holder.nav-btns {
  width: max(25vw, 25rem);
  justify-content: space-between;
}
.holder.nav-btns > button {
  width: var(--nav-btn-width);
  height: var(--nav-btn-height);
  background: var(--main-white);
  border-radius: 2rem;
  font-family: "Kaushan Script", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: var(--nav-btn-font-size);
}
.holder.nav-btns > .nav-menu-btn {
  display: none;
}
.holder.nav-btns > button:hover,
.holder.nav-btns > button:focus,
.holder.nav-btns > button:active {
  background: var(--main-red);
  color: var(--main-white);
  cursor: pointer;
}
.holder.cmpny-title {
  width: max(48vw, 20rem);
  justify-content: center;
  position: relative;
  right: clamp(0rem, 2vw, 2rem);
}
.title {
  font-family: "Kaushan Script", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: var(--cmpny-title-font-size);
}
.holder.link-btns {
  width: max(20vw, 25rem);
  justify-content: space-evenly;
  position: relative;
  left: clamp(0rem, 2vw, 3vw);
}
.holder.link-btns > .github-btn {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-white);
  border-radius: 5rem;
}
.holder.link-btns > .github-btn:hover,
.holder.link-btns > .github-btn:hover > svg,
.holder.link-btns > .github-btn:focus,
.holder.link-btns > .github-btn:focus > svg,
.holder.link-btns > .github-btn:active,
.holder.link-btns > .github-btn:active > svg {
  background: var(--main-red);
  fill: var(--main-white);
  cursor: pointer;
}
.holder.link-btns > .order-btn {
  width: var(--nav-btn-width);
  height: var(--nav-btn-height);
  background: var(--main-red);
  border-radius: 2rem;
  color: var(--main-white);
  font-family: "Kaushan Script", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: var(--nav-btn-font-size);
}
.holder.link-btns > .order-btn:hover,
.holder.link-btns > .order-btn:focus,
.holder.link-btns > .order-btn:active {
  background: var(--main-white);
  border: 0.1rem solid var(--main-red);
  color: var(--main-red);
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .holder.nav-btns {
    width: 4rem;
  }
  .holder.nav-btns > .nav-menu-btn {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-white);
  }
  .nav-menu-btn:hover,
  .nav-menu-btn:hover > svg,
  .nav-menu-btn:focus,
  .nav-menu-btn:focus > svg,
  .nav-menu-btn:active,
  .nav-menu-btn:active > svg {
    background: var(--main-red);
    border-radius: 2rem;
    fill: var(--main-white);
    cursor: pointer;
  }
  .holder.nav-btns > .home-btn,
  .holder.nav-btns > .menu-btn,
  .holder.nav-btns > .loca-btn {
    display: none;
  }
  .holder.cmpny-title {
    width: 100%;
    position: static;
  }
  .holder.link-btns {
    display: none;
  }
}
